html{
  height:100%;
}

body{
  height:100%;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.parallax {

    background-image: url('../img/parralax-img.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -21px;
}
.parallax-2 {

    background-image: url('../img/parralax-img-3.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap{
  min-height:100%;
  position: relative;
}

#main{
  position: relative;
  padding-bottom: 100px;
}

#footer {
  height: 100px;
  position: absolute;
  bottom: 0;
}
#navbar {
  background-color: white;
  height: 100px !important;

}
#loginButton, #registerButton, #homeButton, #profilButton, #logoutButton, #dashboardButton, #websiteButton, #matchButton {
  color : #0a93a6;
  font-size: 20px;
}

.liste_sites {
  list-style: none;
}
