
<div class="parallax"></br><h1>Rencontres-en d'autre.com</h1>
</br> <h3 id="slogan"> Le site de rencontre dédié aux adeptes des sites de rencontres !</h3>
</div>


<div style="height:530px;font-size:36px">
<h3 id="slogan2"> Des milliers de profils authentiques !</h3>
      <div class="col-lg-12">
        <div>
          <div class="col-md-3" ng-repeat="user in users | limitTo: 5 | orderBy" ng-if="!user.isAdmin && user._id != currentUser._id" ng-hide="match()">
            <div class="profile-card text-center" id="cardHome">
              <img class="img-responsive" src="https://framapic.org/RddQvSHiY0e3/dpYxk0NxJZjY.jpg">
              <div class="profile-info">
                <img class="profile-pic" src="{{user.picture}}">
                <h2 class="hvr-underline-from-center" id="pseudoHome">{{user.pseudo}}</span></h2>
                <br>
                  <div id="profilHome">{{user.sexe}} </br>recherche {{user.lookup}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="parallax-2"></div>
